<a href="https://colab.research.google.com/github/LucasRaoniPessoa/tecnicasdedesolvimentodealgoritimo/blob/main/ListaDupla_python_LucasRaoni_sistemas_de_informa%C3%A7ao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista1 = [10, 20, 30, 40]
lista2 = ["programação", "IFB", "python"]
lista3 = ["oi", 2.0, 5, [10, 20]]
print(lista1)
print(lista2)
print(lista3)

[10, 20, 30, 40]
['programação', 'IFB', 'python']
['oi', 2.0, 5, [10, 20]]

In [ ]:
nota1 = float(input("Entre com a nota 1: "))
nota2 = float(input("Entre com a nota 2: "))
nota3 = float(input("Entre com a nota 3: "))

In [ ]:
notas = [8.0, 5.5, 9.3, 7.6, 3.1]
print(notas)

[8.0, 5.5, 9.3, 7.6, 3.1]

##Aplicaçoes com Listas, Tuplas e Dicionarios!

In [7]:
alunos_db = [
    {"matricula": "2023001", "nome": "Lucas raoni", "curso": "sistemas de informaçao"},
    {"matricula": "2023002", "nome": "Ana Castela", "curso": "Engenharia de software"},
    {"matricula": "2023003", "nome": "Gustavo Pereira", "curso": "Analise e desenvolvimento de sistemas"},
]
print("1. Sistema simplificado de cadastro de aluno")
print("-" * 40)

#1. Adicionar novo aluno (create)
print("-> Adicionado novo aluno...")
novo_aluno = {"matricula": "2023004", "nome": "Joao Gustavo", "curso": "Sistema de informaçao"}
alunos_db.append(novo_aluno) #adiciona o dicionario (novo_aluno) ao
print(f"Aluno {novo_aluno['nome']} adicionado com sucesso.")

#2 Buscar aluno por matricula (READ)
matricula_busca = "2023002"
aluno_encontrado = next((aluno for aluno in alunos_db if aluno["matricula"] == matricula_busca), None)

if aluno_encontrado:
  print(f"\nAluno com matricula (Matricula: {matricula_busca}):")
  print(f"Nome: {aluno_encontrado['nome']}, curso: {aluno_encontrado['curso']}")
else:
  print(f"\nAluno com matricula {matricula_busca} nao encontrado")

# 3. Atualizar curso do aluno (UPDATE)
matricula_update = "2023003"
for aluno in alunos_db:
    if aluno["matricula"] == matricula_update:
      aluno["curso"] = "segurança da informaçao"
      print(f"\nCurso do aluno {aluno['nome']} atualizado para: {aluno['curso']}")
      break
print("-" * 40)

# 4. Excluir aluno (DELETE)
matricula_delete = "2023001"
alunos_db = [aluno for aluno in alunos_db if aluno["matricula"] != matricula_delete]
print(f"\nAluno com matricula {matricula_delete} excluido com sucesso.")

print("\nAlunos restantes:")
for aluno in alunos_db:
    print(f"Matricula: {aluno['matricula']}, Nome: {aluno['nome']}, Curso: {aluno['curso']}")

1. Sistema simplificado de cadastro de aluno
----------------------------------------
-> Adicionado novo aluno...
Aluno Joao Gustavo adicionado com sucesso.

Aluno com matricula (Matricula: 2023002):
Nome: Ana Castela, curso: Engenharia de software

Curso do aluno Gustavo Pereira atualizado para: segurança da informaçao
----------------------------------------

Aluno com matricula 2023001 excluido com sucesso.

Alunos restantes:
Matricula: 2023002, Nome: Ana Castela, Curso: Engenharia de software
Matricula: 2023003, Nome: Gustavo Pereira, Curso: segurança da informaçao
Matricula: 2023004, Nome: Joao Gustavo, Curso: Sistema de informaçao

In [10]:
import random

# This is a simplified example based on typical World Cup draws.
# The actual pots for the 2026 World Cup will depend on FIFA rankings closer to the event.

pot_1 = ["Brazil", "Argentina", "France", "Germany", "Spain", "Portugal", "Belgium", "England"]
pot_2 = ["Netherlands", "Croatia", "Italy", "Mexico", "USA", "Colombia", "Uruguay", "Switzerland"]
pot_3 = ["Senegal", "Japan", "Iran", "Morocco", "South Korea", "Poland", "Serbia", "Tunisia"]
pot_4 = ["Canada", "Australia", "Ecuador", "Cameroon", "Ghana", "Saudi Arabia", "Qatar", "Playoff Winner"]

# Combine all pots into a list of lists
all_pots = [pot_1, pot_2, pot_3, pot_4]

# Define the number of groups (assuming 8 groups for this example)
num_groups = 8
groups = {f"Group {chr(65 + i)}": [] for i in range(num_groups)}

print("Defined pots and initialized empty groups.")

Defined pots and initialized empty groups.